<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<style>
 
    body { 
     background-image: url("https://res.cloudinary.com/dkkgemejy/image/upload/v1630096496/mponb44l9cmfoksqeyyn.jpg");
     background-size: cover;
     background-attachment: fixed;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 3vh;
    }
   
    </style>
  
<section class="" style="padding-top: 20px;">
    <!-- Footer -->
    <footer class="text-center text-black-50" style="background-color: #f3f5f7; ">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(231, 224, 224, 0.2);">
        © 2021 Copyright:
        <a class="text-black-50" href="">Simon Love</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>

</html>