<%- include('partials/header.ejs') %>

    <div class="container">
        <div class="col-auto">
            <h1>Find A Gaming Friend</h1>
            <h6 class="text-muted">Find others to fulfill those multiplayer activities!</h6>
            <a href="/listings"><button>Enter</button></a>
        </div>
    </div>
</body>
</html>

<%- include('partials/footer.ejs') %>