<%- include('partials/header.ejs') %>
<style> 
body {
    background-image: url("https://res.cloudinary.com/dkkgemejy/image/upload/v1630177669/fivedj6qoaekrg6by5o7.jpg");
    background-size: cover;
    background-attachment: fixed; 
}

</style>
<div class="container"style="background-color: white; padding:8rem;text-align:center; opacity: 0%;">
    </div>

    <div class="container"style="background-color: white; padding: 2.5rem;text-align:center; opacity: 85%;">
        
        <div class="col-auto">
            <h1>Find A Gaming Friend</h1>
            <h6 class="text-muted">Find others to fulfill those multiplayer activities!</h6>
            <a href="/listings"><button>Enter</button></a>
        </div>
    </div>
 
   

</body>
</html>
